name: Nix
on:
  push:
    branches:
      - main
      - nixos-unstable
      - nixpkgs-unstable
  pull_request:
  workflow_dispatch:
concurrency: "{{ github.head_ref ||  github.ref }}"
jobs:
  build:
    timeout-minutes: 10080
    strategy:
      matrix:
        system:
          - aarch64-darwin
          - aarch64-linux
          - x86_64-linux
          - x86_64-darwin
    runs-on: [nix]
    steps:
      - uses: actions/checkout@v3
      - run: ./ci.sh --argstr system ${{ matrix.system }}
